
/* ELEMENTS TABLE */
table {
     margin: 15px 0;
     width: 100%;
     border-spacing: 0;
     border-collapse: collapse;

     tr {
           border-bottom: 1px solid $table-border ;
           text-align: left;
     }

     thead {
           th {
                 color: $table-Head-color;
                 padding: 15px;
                 font-weight: 300;
                 text-transform: uppercase;
                 letter-spacing: 1px;
                 font-size: 0.8em;
           }
     }
     tbody {
           td {
                 padding: 15px;
                 font-weight: 300;
                 vertical-align: top;
           }
     }
     tfoot {
           td {
                 padding: 15px;
                 font-weight: 300;
           }
     }
}